.sidebar-account, .tab-content-account-user {
    background-color: #fff;
    overflow: hidden;
    /* box-shadow: rgba(0, 0, 0, 0.07) -0.0625rem 0px 0.625rem 0px, rgba(0, 0, 0, 0.04) 0.3125rem 1.25rem 2.5rem 0px !important; */
    border-radius: 1rem;
    border: 1px solid var(--color-natural-100);
}
.sidebar-account {
    height: auto;
}
.sidebar-account {
    padding: 2rem 0;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: var(--color-primary-500);
    border-radius: 10px;
}
.account-menu .nav-link {
    font-size: 0.95rem;
    display: block;
    color: var(--color-natural-600);
    padding: 0.5rem 1rem;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    border-bottom: 1px solid var(--color-natural-100);
    position: relative;
    text-align: right;
    border-radius: 0;
    margin: 0 1rem;
   
}
.account-menu .nav-link:last-child {
    border-bottom: none;
}
.account-menu .nav-link svg {
    width: 22px;
    color: var(--color-natural-500);
    margin-left: 5px;
}

.nav-link .dropdown-user-account-meta {
    float: left;
    margin-top: 5px;
    padding: 2px 4px;
    /* background: var(--color-primary-500);
    color: var(--color-natural-100); */
    border-radius: 5px;
}
.nav-link.active .dropdown-user-account-meta {
  

    background: white;
    color: var(--color-natural-500);
}

.account-menu .nav-link.active svg {
    color: var(--color-natural-100);
}
.name-avatar-user h4{
    font-size: 1.3rem;
    margin-top: .5rem;
}

.nav-pills-account-menu .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--color-natural-100);
    background-color: var(--color-primary-500);
}
.img-avatar-user {
    border-radius: 50%;
    width: 7rem;
}

.avatar-user .name-avatar-user h4 {
    color: rgb(74, 75, 101);
}

element.style {
}
.product_cart {
    /* box-shadow: 0 0 3px rgb(0 0 0 / 0.2); */
    border: 1px solid var(--color-natural-200);
    padding: .9rem .5rem;
    border-radius: .4em;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    max-width: 320px;
    width: 100%;
}
.product_cart-account a.card-floating-icon {
    position: absolute;
    top: 8%;
    right: 11%;
    color: #f74f78;
    font-size: 1.3rem;
    transform: scale(0.85);
    -webkit-transform: scale(0.85);
    opacity: 0;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.card_product_img {
    display: block;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
.product_cart .body_card_product a {
    margin-bottom: 0.4rem;
    height: 40px;
    display: block;
    font-size: 1em;
    color: var(--color-natural-600);
    font-weight: 500;
    margin-top: .5rem;
    line-height: 24px;
}
.product_cart .body_card_product .price_card_product {
    margin-bottom: 1.5rem;
    display: block;
    font-size: 0.9rem;
    color: var(--color-natural-600);
    font-weight: 600;
}
.star_rating {
    white-space: nowrap;
}
.area_icon_cardFooter {
    position: relative;
}
.area_icon_cardFooter a {
    padding: 0.1rem 0.5rem;
}
.tab-content-account-user {
    padding: 2rem;
}

.page-content-header h1.title-tabcontent-account {
    color: var(--color-natural-500);
    font-size: 1.2rem;
    font-weight: 600;
    white-space: nowrap;
}
 .product_cart--title {
    font-size: 1rem;
    line-height: 24px;
    color: var(--color-natural-600);
}

.product_cart--addtocart svg {
    color: var(--color-red-300);
}
.product_cart .product-card__prices {
    margin: 14px 0 18px;
    line-height: 1;
    font-weight: 700;
    color: var(--color-natural-300);
}
.product_cart .product-card__action-btns > div {
    height: 35px;
    /* padding: 1rem; */
    /* width: 150px; */
}

.product_cart .product-card__action-btns > div {
    display: flex;
    /* width: 60px; */
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--color-primary-500);
    border-radius: 10px;
    padding: 0px 10px 3px;
    margin-left: auto;
}
.product_cart .product-card__addtocart {
    font-size: .875rem;
    /* height: calc(1.875rem + 2px); */
    line-height: 1.25;
    font-weight: 500;
    padding: 5px 7px;
}
.product_cart .product-card__add-counter {
    width: 30px;
    text-align: center;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3px;
}
.product_cart .product-card__plus-btn, .product_cart .product-card__minus-btn {
    width: 25px;
    height: 25px;
    line-height: 20px;
}
.btn-remove-favorites {
    background-color: rgba(247, 79, 120, 0.08);
    color: #f74f78;
    font-size: 0.95rem;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.page-content-header {
    display: flex;
    /* d-flex justify-content-between align-items-center mb-4 */
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}
.page-content-header span.count-content-tab {
    background-color: rgba(55, 56, 78, 0.08);
    font-size: .95rem;
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    border-radius: 0.5rem;
    text-align: center;
    vertical-align: middle;
    line-height: 22px;
}

/* orders */
.area-orders-account .card-order {
    border-radius: 1rem;
    border: 1px solid rgba(0, 0, 0, .125);
    overflow: auto;
}
.date-order svg {
    width: 20px;
    color: var(--color-natural-300);
}
.header-content-orders .in-progress {
    color: var(--color-primary-500);
    background-color: var(--bg-primary-100);
}
.header-content-orders .succeed{
    background-color: rgba(22, 201, 149, 0.08);
    color: #16c995;
}


.header-content-orders .canceled {
    background-color: rgba(247, 79, 120, 0.08);
    color: #f74f78;
}
.header-content-orders .stutus-order {
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
    width: 7rem;
    text-align: center;
}
.card-order .card-header {
    border-bottom: 0;
    background-color: transparent;
    padding: 0;
}
.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}
.accordion-header {
    margin-bottom: 0;
}
.accordion-item:first-of-type .accordion-button {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}
.header-content-orders .stutus-order {
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
    width: 7rem;
    text-align: center;
   
}
.collapse-content-orders {
    background-color: var(--bg-gray-100);
    border-top: 1px solid rgba(0, 0, 0, .1);
}
.accordion-body {
    padding: 1rem 1.25rem;
}
.area-ditails_product-orders  {
    /* d-flex align-items-center flex-column flex-sm-row */
    display: flex;
    align-items: center;

}
.area-ditails_product-orders img {
    border-radius: 1rem;
    width: 7rem;
}
.ditails_product-orders {
    width: 10rem;
}
.header-content-orders {
    font-size: 0.95rem;
    cursor: pointer;
    padding: 1rem 1.5rem;
    background-color: transparent !important;
    color: #747474 !important;
    box-shadow: none !important;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.ditails_product-orders a.nameproduct-orders {
    color: var(--color-natural-600);
    font-weight: 500;
    display: inline-block;
}
.ditails_product-orders a.nameproduct-orders:hover {
    color: var(--color-primary-600);
}
.order__col {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* orders */

.area-btn-save svg {
    color: var(--color-natural-100);
}
.profile-form {
    padding: 1rem 1.5rem;
}

.area-setting-avatar {
    background-color: #f7f7fc;
    border-radius: 1rem;
}
.img-avatar-user {
    border-radius: 50%;
    width: 7rem;
}
.area-setting-avatar .btn-chang-avatar {
    color: #4a4b65;
    background-color: #fff;
    border: 0;
    box-shadow: 0 0 0.625rem -0.1875rem rgba(0, 0, 0, 0.13) !important;
    padding: 0.425rem 1rem;
    font-size: .95rem;
    border-radius: 0.5rem;
}
.area-setting-avatar .description-avatar-user {
    font-size: .9rem;
}
.profile-avatar-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    left: 43px;
    width: 126px;
    cursor: pointer;
}


.example-preview {
    border: 4px solid #F3F6F9;
    padding: 1.75rem 1.5rem;
    border-top-left-radius: 0.42rem;
    border-top-right-radius: 0.42rem;
}
table {
    width: 100%;
    margin-bottom: 1rem;
    color: #3F4254;
    background-color: transparent;
}




.table th, .table td {
    padding: 0.75rem;
    vertical-align: middle;
    border-top: 1px solid #EBEDF3;
    text-align: center;
}
.table th {
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #EBEDF3;
}
.table thead th, .table thead td {
    font-weight: 600;
    font-size: 1rem;
    border-bottom-width: 1px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.table:not(.table-bordered) thead th, .table:not(.table-bordered) thead td {
    border-top: 0;
}
.edit-address-modal .remodal-header {
    padding: 1rem 1.5rem;
    text-align: right;
    font-size: 1.5rem;
  }
  .table-wrapper {
    border: 1px solid var(--color-natural-200);
    border-radius: 10px;
    overflow: auto;
  }

  .table > :not(:last-child) > :last-child > * {
    border-bottom: 1px solid var(--color-natural-200);
}

.table th, .table td {
    padding: 0.75rem;
    vertical-align: middle;
    border-top: 1px solid #EBEDF3;
    color: var(--color-natural-600);
}
.actions {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6px;
}
.actions button {
    position: relative
}
.actions button svg {
    width: 25px;

}
button.edit-address svg {
    color: var(--color-primary-500);
}
button.delete-address svg {
    color: var(--color-red-300);
}
.product-card__quickview--preload:after {
	display: block;
	content: "";
	position: absolute;
	border: 2px solid rgba(78, 78, 78, 0.938);
	border-top-color: rgba(148, 148, 148, 0.404);
	transition: border-color .1s;
	animation-name: a;
	animation-duration: .5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	left: calc(50% - 8px);
	top: calc(50% - 8px);
	width: 16px;
	height: 16px;
	border-radius: 8px
}

button.edit-address.product-card__quickview--preload svg {
	color: var(--color-natural-100);
    opacity: 0;
}

.label.label-inline {
    display: inline-block;
    font-size: .9rem;
    line-height: 20px;
    text-align: center;
}

.label.label-inline {
    padding: 0.3rem 0.75rem;
    border-radius: 0.42rem;
}
.label.label-light-primary {
    color: #3699FF;
    background-color: #E1F0FF;
}
.label.label-light-danger {
    color: #F64E60;
    background-color: #FFE2E5;
}

/* .actions {
    display: flex;
    flex-direction: column;
    width: 183px;
    gap: 10px;
} */

.page-content{
    background-color: white;
  padding: 1rem;
  border-radius:.8rem;
  }
  .bg-gradiant-account {
  height: 480px;
  background: linear-gradient(to right, var(--color-primary-500) 0%, var(--color-primary-400) 30%, var(--color-primary-300) 100%);
  position: relative;
  z-index: -1;
}
.area-shape-bottom {
  color: #f7f7fc;
}
.area-shape-bottom svg {
  position: absolute;
  bottom: -2PX;
  right: 0;
  width: 100%;
  color: #fff;
  /* background: linear-gradient(to right, #766df4 0%, #766df4 30%, #6a9bf4 100%); */
}
.bg-blues {
position: absolute;
  right: 0;
  left: 0;
  z-index: -1;
}