:root {
    --main-bg-color: #4fb68d;
    --input-bg-color: #ffffff;
    --text-color: #616161;
    --border-gray: #b3b3b3;
    --border-gray-light: #e2e2e2;
    --button-black-color:#0c0c0c;
    --color-natural-200: #e0e0e2;
    --color-natural-700: #3f4064;
    --natural-icon:#424750;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
}

body {
    background: #f5f5f5 !important;
    direction: rtl;
    overflow-x: hidden;
    font-family: iranyekan;
    display: inline;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

a {
    display: inline-block;
}
svg {
    color: var(--natural-icon);
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

Button {
    border: none;

    background: transparent;

    /* inherit font & color from ancestor */
    color: var(--button-black-color);
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

::-webkit-input-placeholder {
    color: #b2b2b2;

    -webkit-transition: text-indent 0.5s ease, color 0.5s ease;
    transition: text-indent 0.5s ease, color 0.5s ease;
}

input::-moz-placeholder {
    color: #b2b2b2;
    opacity: 1;
}

::ms-input-placeholder {
    color: #b2b2b2;
}

/* [placeholder]:focus::-webkit-input-placeholder{
		text-indent:10em;
		color:transparent;
	} */

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/iranyekan/eot/iranyekanwebbold(fanum).eot");
    src: url("../fonts/iranyekan/eot/iranyekanwebbold(fanum).eot?#iefix") format("embedded-opentype"),
        /* IE6-8 */
        url("../fonts/iranyekan/woff2/iranyekanwebbold(fanum).woff2") format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/
        url("../fonts/iranyekan/woff/iranyekanwebbold(fanum).woff") format("woff"),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url("../fonts/iranyekan/ttf/iranyekanwebbold(fanum).ttf") format("truetype");
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/iranyekan/eot/iranyekanweblight(fanum).eot");
    src: url("../fonts/iranyekan/eot/iranyekanweblight(fanum).eot?#iefix") format("embedded-opentype"),
        /* IE6-8 */
        url("../fonts/iranyekan/woff2/iranyekanweblight(fanum).woff2") format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/
        url("../fonts/iranyekan/woff/iranyekanweblight(fanum).woff") format("woff"),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url("../fonts/iranyekan/ttf/iranyekanweblight(fanum).ttf") format("truetype");
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/iranyekan/eot/iranyekanwebregular(fanum).eot");
    src: url("../fonts/iranyekan/eot/iranyekanwebregular(fanum).eot?#iefix") format("embedded-opentype"),
        /* IE6-8 */
        url("../fonts/iranyekan/woff2/iranyekanwebregular(fanum).woff2") format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/
        url("../fonts/iranyekan/woff/iranyekanwebregular(fanum).woff") format("woff"),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url("../fonts/iranyekan/ttf/iranyekanwebregular(fanum).ttf") format("truetype");
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.btn-site {
    color: #fff;
    background-color: var(--main-bg-color);
    border-color: var(--main-bg-color);
}

.btn-site:hover {
    color: #fff;
}

.text-elipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

header {
    background: #fff;
    box-shadow: 0 7px 8px 0 rgba(0, 0, 0, 0.04);
    z-index: 234;
    width: 100%;
    height: auto;
    /* float: left; */
}

.header-right {
    width: 100%;
    /* height: 50px; */
    margin-top: 0px;
    margin-bottom: 0px;
}

.header-right .logo-wrapper {
    text-align: right   ;
    height: 100%;
}

.header-right .logo {
    margin-top: 0;
    margin-bottom: 0px;
    text-align: center;
    /* float: right; */
    color: var(--main-bg-color);
}

.header-right .logo img {
    min-width: 100%;
}

.header-right .search-header {
    width: 100%;
    height: 45px;
    overflow: hidden;
    max-width: 600px;
    /* float: right; */
    border-radius: 5px;
    position: relative;
    border: 2px solid var(--main-bg-color);
    border-radius: 15px;
    background: white;
}

.header-right .search-header input {
    height: 45px;
    outline: none;
    background: var(--input-bg-color);
    color: #474747;
    padding-left: 15px;
    padding-right: 10px;
    line-height: 45px;
    position: relative;
    font: 12px iranyekan;
    width: 330px;
}

.header-right .search-header .btn-search {
    position: absolute;
    left: 0;
    background: var(--main-bg-color);
    color: white;
    outline: none;
    cursor: pointer;
    height: 100%;
    width: 10%;
}

.header-right .search-header .btn-search i {
    font-size: 22px;
}
.header-right .search-header .btn-search svg {
    color:#e6e6e6;
}

.header-left {
    width: 100%;
    height: 100%;
    margin-top: 0px;
    /* margin-bottom: 10px; */
    display: flex;
    justify-content: end;
    flex-direction: row-reverse;
}

.header-left .btn-login {
    background: #fff;
    border: 1px solid var(--color-natural-200);
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    font: 12px iranyekan;
    line-height: 38px;
    text-align: left;
    padding: 0 10px;
    position: relative;
}

.header-left .login-link {
    color: var(--button-black-color);
}

.header-left .btn-login i {
    font-size: 25px;
    line-height: 34px;
    vertical-align: middle;
    padding-left: 7px;
    color: var(--text-color);
}

.header-left .mini-cart-header {
    width: 30px;
    height: 30px;
    font-size: 25px;
    color: var(--text-color);
    position: relative;
    margin-right: 2rem;
}

.header-left .mini-cart-header .cart-count {
    font-size: 12px;
    line-height: 18px;
    color: #fff;
    width: 24px;
    height: 21px;
    background: var(--main-bg-color);
    text-align: center;
    vertical-align: middle;
    border-radius: 50px;
    font-weight: 900;
    border: 2px solid #fff;
    position: absolute;
    top: -5px;
    left: 20px;
}

/* .header-left .mini-cart-header::before{
    content: "";
    display: block;
    height: 24px;
    background: #e0e0e2;
    position: absolute;
    left: 45px;
    width: 1px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
} */

.mini-cart-dropdown {
    position: fixed;
    left: 0;
    top: 0px;
    bottom: 0;
    width: min(100%, 370px);
    background: #fff;
    border-radius: 5px;
    z-index: 1;
    padding: 5px;
    border: 1px solid #eee;
    transition: all 0.1s ease-in;
    opacity: 1;
    visibility: visible;
    z-index: 99;
    transform: translate(-370px, 0px);
}

.mini-cart-header .mini-cart-dropdown.active {
    transition: all 0.3s ease-in;
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
}

.mini-cart-dropdown .header-cart-info-header {
    padding: 12px 16px 16px 12px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mini-cart-dropdown .header-cart-info-header .header-cart-info-count {
    font-size: 1rem;
    line-height: normal;
    color: #81858b;
    float: right;
}

.mini-cart-dropdown .header-cart-info-header a.header-cart-info-link {
    color: #0fabc6;
    font-size: 12px !important;
    font-weight: 600;
    float: left;
}

.mini-cart-dropdown ul.header-basket-list {
    /* overflow-y: scroll;
    overflow-x: hidden; */
    list-style: none;
    border-top: 1px solid #f0f0f1;
    margin-top: 15px;
    margin-bottom: 0;
    overflow-y: auto;
    max-height: calc(100vh - 180px);
}

.mini-cart-dropdown ul.header-basket-list .js-mini-cart-item {
    border-bottom: 1px solid var(--border-gray-light);
}

.mini-cart-dropdown ul.header-basket-list .js-mini-cart-item .header-basket-list-item {
    padding: 15px 0;
    margin: 0 12px;
    display: flex;
    flex-wrap: nowrap;
}

.mini-cart-dropdown ul.header-basket-list .js-mini-cart-item .header-basket-list-item .header-basket-list-item-image {
    width: 90px;
    display: inline-block;
    position: relative;
}

.mini-cart-dropdown ul.header-basket-list .js-mini-cart-item .header-basket-list-item .header-basket-list-item-count {
    width: 55px;
}

.mini-cart-dropdown ul.header-basket-list .js-mini-cart-item .header-basket-list-item .header-basket-list-item-footer {
    display: flex;
    align-items: center;
    gap: 8px;
}

.mini-cart-dropdown ul.header-basket-list .js-mini-cart-item .header-basket-list-item .header-basket-list-item-price {
    font-size: 0.8rem;
}

.mini-cart-dropdown ul.header-basket-list .js-mini-cart-item .header-basket-list-item .header-basket-list-item-image img {
    max-width: 100%;
}

.mini-cart-dropdown ul.header-basket-list .js-mini-cart-item .header-basket-list-item .header-basket-list-item-content {
    margin-right: 8px;
    width: 150px;
    text-align: right;
    flex: 1;
    display: flex;
}

.mini-cart-dropdown ul.header-basket-list .js-mini-cart-item .header-basket-list-item .header-basket-list-item-content .header-basket-list-item-title {
    font-size: 12px !important;
    line-height: normal !important;
    font-weight: 700;
    margin-bottom: 14px;
    color: #424750;
}

.mini-cart-dropdown ul.header-basket-list .js-mini-cart-item .header-basket-list-item .header-basket-list-item-content .header-basket-list-item-shipping-type {
    font-size: 12px;
    line-height: normal;
    margin-bottom: 13px;
    color: #0fabc6;
    float: right;
    width: 100%;
}

.mini-cart-dropdown ul.header-basket-list .js-mini-cart-item .header-basket-list-item .header-basket-list-item-content .header-basket-list-item-props {
    align-items: center;
    font-size: 10px;
    font-size: 0.714rem;
    line-height: normal;
    color: #81858b;
}

.header-basket-list-item-content .header-basket-list-item-props .header-basket-list-item-props-item {
    padding-left: 8px;
    margin-left: 0;
    border-left: 1px solid #f0f0f1;
}

.header-basket-list-item-content .header-basket-list-item-props .header-basket-list-item-props-item .header-basket-list-item-color-badge {
    background: #fff;
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-left: 6px;
}

.header-basket-list-item-content .header-basket-list-item-props .header-basket-list-item-remove {
    background: #fff;
    border: 0;
    outline: 0;
    color: #a1a3a8;
    cursor: pointer;
    float: left;
    font-size: 20px;
    margin-top: -5px;
}

.header-cart-info-footer {
    padding: 8px;
    border-top: 1px solid #f0f0f1;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: white;
}

.header-cart-info-footer .header-cart-info-total {
    font-size: 12px;
    font-size: 0.857rem;
    line-height: normal;
    padding-right: 4px;
    margin-bottom: 14px;
}

.header-cart-info-footer .header-cart-info-total .header-cart-info-total-text {
    margin-bottom: 4px;
    font-size: 10px;
    font-size: 0.714rem;
    line-height: 2.2;
}

.header-cart-info-footer .header-cart-info-total .header-cart-info-total-amount {
    font-size: 10px !important;
    font-size: 0.714rem !important;
    line-height: normal !important;
    font-weight: 700;
    margin-bottom: 0;
}

.header-cart-info-footer .header-cart-info-total .header-cart-info-total-amount .header-cart-info-total-amount-number {
    font-size: 16px !important;
}

.responsive-header-left {
    display: none;
}

/*Start menu----------------*/

nav.main-menu {
    width: 100%;
    height: 45px;
    background: #fff;
    border-bottom: 1px solid #f1f1f1;
    padding-right: 5px;
    display: flex;
    justify-content: center;
    align-items: start;
    position: relative;
}

nav.main-menu ul.new-list-menu li.item-list-menu {
    padding: 10px 0;
    font: 12px iranyekan;
    position: relative;
    margin: 0 20px;
    display: inline-block;
}

nav.main-menu ul.new-list-menu li.item-list-menu.category {
    position: absolute;
    right: 0;
}

nav.main-menu ul.new-list-menu li.map-city-item {
    float: left;
    margin-top: 15px;
}

nav.main-menu ul.new-list-menu li.item-list-menu a.list-category {
    color: var(--text-color);
    text-decoration: none;
    padding-bottom: 14px;
    padding: 3px 0;
    display: block;
}

nav.main-menu ul.new-list-menu li.item-list-menu a.list-category::before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 3px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: var(--main-bg-color);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

nav.main-menu ul.new-list-menu li.item-list-menu:hover>a.list-category::before {
    /* width: 100%; */
}

nav.main-menu ul.new-list-menu li.item-list-menu a.list-category i {
    vertical-align: middle;
    font-size: 14px;
    padding-left: 5px;
}

nav.main-menu ul.new-list-menu li.item-list-menu .list-menu-level-2 {
    width: 1235px;
    height: auto;
    background-color: #fff;
    position: absolute;
    top: 45px;
    box-shadow: 0 0 3px #eae8e8;
    padding-bottom: 15px;
    padding-top: 20px;
    display: none;
    margin-top: 0;
    overflow: hidden;
    z-index: 999;
}

nav.main-menu ul.new-list-menu li.item-list-menu:hover .list-menu-level-2 {
    display: block;
}

nav.main-menu ul.new-list-menu li.item-list-menu .list-menu-level-2 .item-menu-2 {
    width: 245px;
    height: 45px;
    text-align: right;
    line-height: 50px;
    padding-right: 15px;
    margin-top: -6px;
    margin-bottom: 5.385px;
    cursor: pointer;
}

nav.main-menu ul.new-list-menu li.item-list-menu .list-menu-level-2 .item-menu-2:hover {
    color: var(--main-bg-color);
    background: #f9f9f9;
    border-top: 1px solid #f0f0f1;
    border-bottom: 1px solid #f0f0f1;
}

nav.main-menu ul.new-list-menu li.item-list-menu .list-menu-level-2 .item-menu-2 i {
    vertical-align: middle;
    padding-left: 10px;
}

nav.main-menu ul.new-list-menu li.item-list-menu .list-menu-level-2 .item-menu-2 .list-category-menu-2 {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
}

nav.main-menu ul.new-list-menu li.item-list-menu .list-menu-level-2 .item-menu-2:hover .list-category-menu-2 {
    color: var(--main-bg-color);
}

/* nav.main-menu ul.new-list-menu li.category::before{
    content: "";
    display: block;
    height: 24px;
    background: #efefef;
    position: absolute;
    left: -11px;
    width: 1px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
} */

nav.main-menu ul.new-list-menu li.item-list-menu .list-menu-level-2 .item-menu-2 .megamenu-level-3 {
    width: 990px;
    height: 100%;
    background: #fff;
    position: absolute;
    right: 244px;
    top: 0;
    padding-top: 25px;
    display: none;
    border-right: 1px solid #f0f0f1;
}

nav.main-menu ul.new-list-menu li.item-list-menu .list-menu-level-2 .item-menu-2:hover .megamenu-level-3 {
    display: block;
}

nav.main-menu ul.new-list-menu li.item-list-menu .list-menu-level-2 .item-menu-2 .megamenu-level-3 .item-megamenu-3 {
    padding-right: 15px;
    line-height: 37px;
    margin-bottom: 6px;
}

nav.main-menu ul.new-list-menu li.item-list-menu .list-menu-level-2 .item-menu-2 .megamenu-level-3 .menu-level-3 {
    width: 240px;
    height: auto;
    float: right;
    position: relative;
    display: inline-block;
}

nav.main-menu ul.new-list-menu li.item-list-menu .list-menu-level-2 .item-menu-2 .megamenu-level-3 .item-megamenu-3 .list-category-megamenu-3 {
    text-decoration: none;
    color: var(--text-color);
}

nav.main-menu ul.new-list-menu li.item-list-menu .list-menu-level-2 .item-menu-2 .megamenu-level-3 .item-megamenu-3 .list-category-megamenu-3:hover {
    color: #776ef4;
}

nav.main-menu ul.new-list-menu li.item-list-menu .list-menu-level-2 .item-menu-2 .megamenu-level-3 .item-megamenu-3 .list-category-megamenu-3 span {
    font-size: 13px;
    font-weight: 700;
    color: #424750;
}

nav.main-menu ul.new-list-menu li.item-list-menu .list-menu-level-2 .item-menu-2 .megamenu-level-3 .item-megamenu-3 .list-category-megamenu-3 span i {
    margin-right: 10px;
    vertical-align: middle;
    font-size: 16px;
}

nav.main-menu ul.new-list-menu li.item-list-menu .list-menu-level-2 .item-menu-2 .megamenu-level-3 .list-category-megamenu {
    color: #03a9f4;
    font-size: 13px;
    font-weight: bold;
    padding-right: 15px;
    text-align: right;
    display: block;
    text-decoration: none;
}

nav.main-menu .map-city {
    font: 12px iranyekan;
    color: var(--text-color);
    float: left;
    margin-left: 10px;
    text-decoration: none;
    line-height: 15px;
}

nav.main-menu .map-city span {
    font-size: 20px;
    vertical-align: middle;
    margin-right: 5px;
    position: relative;
}

nav.main-menu .map-city span::after {
    content: "";
    width: 5px;
    height: 5px;
    position: absolute;
    top: 10px;
    right: 2px;
    background: #ff1010;
    border-radius: 100px;
}

nav.main-menu ul.new-list-menu li.item-list-menu ul.list-menu-discounts-offers {
    width: 800px;
    height: auto;
    background: #fcfcfc;
    padding: 15px;
    z-index: 9999;
}

nav.main-menu ul.new-list-menu li.item-list-menu ul.list-menu-discounts-offers li.discounts-offers-item {
    margin-bottom: 10px;
}

nav.main-menu ul.new-list-menu li.item-list-menu ul.list-menu-discounts-offers li.discounts-offers-item:first-child {
    margin-top: 15px;
    margin-bottom: 20px;
}

nav.main-menu ul.new-list-menu li.item-list-menu ul.list-menu-discounts-offers .menu-level-3 {
    width: 240px;
    height: auto;
    float: right;
    position: relative;
    display: inline-block;
}

nav.main-menu ul.new-list-menu li.item-list-menu ul.list-menu-discounts-offers li.discounts-offers-item .list-category-megamenu-3 {
    color: var(--text-color);
}

nav.main-menu ul.new-list-menu li.item-list-menu ul.list-menu-discounts-offers li.discounts-offers-item .list-category-megamenu-3 span {
    font-size: 13px;
    font-weight: 700;
    color: #424750;
}

nav.main-menu ul.new-list-menu li.item-list-menu ul.list-menu-discounts-offers li.discounts-offers-item .list-category-megamenu-3 span i {
    margin-right: 10px;
    font-size: 16px;
}

nav.main-menu ul.new-list-menu li.item-list-menu ul.list-menu-discounts-offers li.discounts-offers-item .list-category-megamenu-3-medium span {
    font-size: 11px;
}

nav.main-menu ul.new-list-menu li.item-list-menu ul.list-menu-discounts-offers li.discounts-offers-item .list-category-megamenu-3-medium span:hover {
    color: #ff3636 !important;
}

nav.main-menu ul.new-list-menu li.item-list-menu ul.list-menu-discounts-offers li.discounts-offers-item .list-category-megamenu-3-medium span.medium-display-title {
    color: #757575;
}

nav.main-menu ul.new-list-menu li.item-list-menu ul.list-menu-discounts-offers li.sublist-option {
    list-style: disc;
    color: #757575;
}

nav.main-menu ul.new-list-menu li.item-list-menu ul.list-menu-discounts-offers li.sublist-option:first-child {
    margin-top: 55px !important;
}

nav.main-menu ul.new-list-menu li.item-list-menu ul.list-menu-discounts-offers .sublist-divider {
    height: 1px;
    margin: 20px 0;
    background-color: #f0f0f1;
}

nav.main-menu ul.new-list-menu li.item-list-menu ul.list-menu-discounts-offers .main-banner {
    width: 260px;
    height: auto;
    border-radius: 0;
    overflow: hidden;
    float: left;
}

nav.main-menu ul.new-list-menu li.item-list-menu ul.list-menu-discounts-offers .main-banner img {
    max-width: 100%;
    margin-right: 10px;
}

/*End menu------------------*/

/*responsive-menu-------------*/

.nav-btn {
    cursor: pointer;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 38px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: none;
    position: absolute;
    top: 7px;
    right: 20px;
}

.nav-btn.nav-slider {
    float: right;
    top: 10px;
}

.nav-btn span.linee1 {
    background: #424750;
    height: 3px;
    width: 25px;
    position: absolute;
    right: 13px;
    top: 10px;
    /*  display: none;*/
}

.nav-btn span.linee2 {
    background: #424750;
    height: 3px;
    width: 25px;
    position: absolute;
    right: 13px;
    top: 18px;
    /*  display: none;*/
}

.nav-btn span.linee3 {
    background: #424750;
    height: 3px;
    width: 25px;
    position: absolute;
    right: 13px;
    top: 26px;
    /*  display: none;*/
}

.nav-btn i {
    vertical-align: middle;
}

@media only screen and (max-width: 1024px) {
    header .header-categories {
        display: none;
    }

    header .header-search {
        width: calc(100% - 440px);
    }
}

@media only screen and (max-width: 860px) {
    header .header-search {
        display: none;
    }
}

@media only screen and (max-width: 480px) {
    header .header-inner {
        padding: 0 12px;
        text-align: center;
    }

    header .header-logo {
        float: right;
        padding-right: 8px;
        padding-left: 0px;
    }
}

/* -----------------------------------------------------
   Nav
-------------------------------------------------------- */

.sidebar {
    overflow-y: auto;
    position: fixed;
    top: 0px;
    right: -250px;
    width: 250px;
    height: 100%;
    color: #fff;
    background-color: #fff;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 0.9;
    z-index: 1002;
}

.sidebar .nav-header {
    display: block;
    height: 70px;
}

.sidebar .nav-header img.pic-header {
    position: absolute;
    z-index: -1;
}

.sidebar .nav-header .header-cover {
    position: absolute;
    width: 100%;
    top: 0;
    height: 65px;
    background-color: #fff;
    z-index: -1;
}

.sidebar .nav-header .logo-wrap {
    padding: 15px 0 5px;
    text-align: center;
    border-bottom: 1px solid #e4e4e4;
    width: 200px;
    margin-right: 25px;
}

.sidebar .nav-header .logo-wrap .logo-icon {
    display: inline-block;
    text-decoration: none;
}

.sidebar .nav-header .logo-wrap .logo-icon img {
    display: block;
    width: 130px;
}

.sidebar .nav-header .logo-wrap .logo-text {
    display: inline-block;
    color: #fff;
    font-size: 15px;
    vertical-align: 12px;
    margin-right: 8px;
    text-decoration: none;
    position: absolute;
    top: 55px;
    right: 15px;
}

.sidebar .nav-categories {
    margin-top: 5px;
}

.sidebar .nav-categories li {
    display: block;
    position: relative;
    text-align: right;
}

.sidebar .nav-categories li::before {
    position: absolute;
    left: 7px;
    top: 11px;
    color: #333;
    font-size: 24px;
}

.sidebar .nav-categories li a {
    display: block;
    width: 75%;
    font-size: 15px;
    color: #333;
    padding: 7px 0;
    text-decoration: none;
    font: 14px iranyekan;
    margin-right: 25px;
    -webkit-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
    background: none;
}

.sidebar .nav-categories li a:hover {
    color: #333;
    font-weight: 700;
    -webkit-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}

.sidebar.open {
    right: 0px;
    -webkit-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.275);
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.275);
    opacity: 1;
}

.sidebar>ul>li>a {
    font: 16px iranyekan;
    display: block;
    padding: 7px 20px;
    background: #ffffff;
    color: #757575;
    font-weight: bold;
}

.sidebar>ul>li>ul>li>a {
    font: 15px iranyekan;
    display: block;
    padding: 7px 40px;
    background: #f5f5f5;
    color: #757575;
}

.sidebar a {
    cursor: pointer;
}

.sidebar>ul>li {
    position: relative;
}

.sidebar ul li a.category-level-2 {
    margin-right: 45px;
    width: 72%;
}

.sidebar ul li ul li a.category-level-3 {
    margin-right: 75px;
    width: 68%;
    font-weight: 300;
}

.sidebar>ul>li.has-sub>a::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 2px;
    background: #cccccc;
    left: 25px;
    top: 20px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.sidebar>ul>li ul>li.has-sub>a::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 10px;
    background: #cccccc;
    left: 44px;
    top: 16px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.sidebar>ul>li ul>li.has-sub>a::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 2px;
    background: #cccccc;
    left: 40px;
    top: 20px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.sidebar>ul>li.has-sub>a::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 10px;
    background: #cccccc;
    left: 29px;
    top: 16px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.sidebar>ul>li.has-sub.open>a::before {
    transform: rotate(45deg);
    background: #a8a8a8;
}

.sidebar>ul>li.has-sub.open>a::after {
    transform: rotate(45deg);
    background: #a8a8a8;
}

.sidebar>ul li ul>li.has-sub.open>a::before {
    transform: rotate(45deg);
    background: #a8a8a8;
}

.sidebar>ul li ul>li.has-sub.open>a::after {
    transform: rotate(45deg);
    background: #a8a8a8;
}

.sidebar ul ul {
    display: none;
    background: #ececec;
    width: 100%;
}

.main {
    width: 1300px;
    height: auto;
    background: aliceblue;
    margin: 0 auto;
}

.clear {
    clear: both;
}

.content {
    width: 900px;
    height: 400px;
    background: deepskyblue;
    float: left;
}

/*responsive-menu-------------*/

/*footer------------------------*/
footer {
    width: 100%;
    height: auto;
    margin-top: 50px;
    padding: 80px 10px 0;
    background: #eceff1;
    position: relative;
    line-height: 22px;
    overflow: hidden;
    float: right;
    text-align: center;
}

footer .footer-jump {
    position: absolute;
    height: 60px;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #f5f5f5;
    border-top: 1px solid #eceff1;
    border-bottom: 1px solid #cfd8dc;
    text-align: center;
}

footer .footer-jump a {
    text-decoration: none;
}

footer .footer-jump a .footer-jump-angle {
    font: 18px iranyekan;
    color: #4a4a4a;
    line-height: 55px;
}

footer .footer-jump a .footer-jump-angle i {
    vertical-align: middle;
    font-size: 25px;
    background: hsla(0, 0%, 74.5%, 0.41);
    display: inline-block;
    padding: 5px 10px;
    border-radius: 50px;
    margin-left: 10px;
}

.footer-inner-box {
    width: 100%;
    height: auto;
    float: right;
    margin-top: 10px;
    text-align: center;
    display: block;
}

.footer-inner-box a {
    margin-bottom: 10px;
    text-decoration: none;
    width: 215px;
    display: inline-block;
}

.footer-inner-box a img {
    width: 70px;
    height: 70px;
}

.footer-inner-box a .item-feature {
    display: block;
    margin-top: 10px;
    font: 14px iranyekan;
    width: 100%;
    text-align: center;
    color: #606060;
    float: right;
}

.middle-bar-footer {
    width: 100%;
    height: auto;
    float: right;
    margin-top: 10px;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
}

.middle-bar-footer .footer-links {
    width: 100%;
    height: auto;
    float: right;
    margin-top: 20px;
    padding: 0 10px;
}

.middle-bar-footer .footer-links .links-col {
    width: 195px;
    height: auto;
    float: right;
    overflow: hidden;
}

.middle-bar-footer .footer-links .links-col a.head-line {
    font: 14px iranyekan;
    color: #4a5f73;
    text-decoration: none;
    margin-bottom: 20px;
    display: block;
    font: 15px iranyekan;
}

.middle-bar-footer .footer-links .links-col ul.links-ul li {
    margin-bottom: 10px;
}

.middle-bar-footer .footer-links .links-col ul.links-ul li a {
    font: 14px iranyekan;
    color: #4b4b4b;
    text-decoration: none;
    font: 13px iranyekan;
    font-weight: 300;
}

footer .footer-form {
    width: 100%;
    height: auto;
    float: left;
    margin-top: 20px;
    padding: 0 10px;
}

footer .footer-form span.newslitter-form {
    font: 14px iranyekan;
    color: #4b4b4b;
    display: block;
    text-align: right;
}

footer .footer-form form {
    width: 80%;
    height: 40px;
    float: right;
    border-radius: 5px;
    position: relative;
    margin-top: 15px;
    overflow: hidden;
}

footer .footer-form form .input-footer {
    width: 100%;
    height: 40px;
    outline: none;
    text-align: left;
    background: #fff;
    border: 1px solid #c8c8c8;
    color: #717171;
    float: right;
    padding: 0 10px 0 80px;
    font: 12px iranyekan;
    border-radius: 5px;
}

footer .footer-form form .input-footer::placeholder {
    text-align: right;
}

footer .footer-form form .btn-footer-post {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 20px;
    font: 14px iranyekan;
    height: 40px;
    background: #00bfd6;
    color: #fff;
    cursor: pointer;
    line-height: 30px;
    transition: all 400ms ease;
}

footer .footer-form form .btn-footer-post:hover {
    background: #08e3fd;
    transition: all 400ms ease;
}

footer .footer-social {
    width: 100%;
    height: auto;
    float: right;
    margin-top: 35px;
    padding: 0 10px;
    margin-left: 15px;
}

footer .footer-social .newslitter-form-social {
    font: 14px iranyekan;
    color: #4b4b4b;
    width: 100%;
    display: block;
    text-align: right;
}

footer .footer-social .social-links {
    width: 200px;
    height: 50px;
    margin-top: 10px;
    overflow: hidden;
    text-align: right;
}

footer .footer-social .social-links a {
    width: 40px;
    height: 40px;
    color: #9c9c9c;
    display: inline-block;
    font-size: 25px;
    line-height: 40px;
}

footer .footer-address {
    width: 100%;
    height: auto;
    float: right;
    margin-top: 20px;
    margin-bottom: 15px;
}

footer .footer-address .footer-contact {
    width: 50%;
    height: auto;
    float: right;
    font: 14px iranyekan;
    margin-bottom: 10px;
}

footer .footer-address .footer-contact ul li {
    color: var(--text-color);
    margin-bottom: 10px;
}

footer .footer-address .footer-contact ul li a {
    text-decoration: none;
    color: var(--text-color);
    position: relative;
    padding-left: 30px;
}

footer .footer-address .footer-contact ul li a.phone-contact::before {
    content: "";
    display: block;
    height: 24px;
    background: #bbb7b7;
    position: absolute;
    left: 0;
    width: 1px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

footer .footer-address .footer-contact ul li.email-title {
    float: right;
    margin-right: 20px;
}

footer .footer-address .address-images {
    width: 31%;
    height: 65px;
    float: left;
    line-height: 63px;
}

footer .footer-address .address-images img {
    width: 150px;
}

footer .more-info {
    width: 100%;
    height: auto;
    background: #d7dee0;
    float: right;
    padding: 20px 0;
}

footer .more-info .about-site {
    width: 100%;
    height: auto;
    margin-top: 15px;
    border-bottom: 1px solid #c5c4c4;
}

footer .more-info .about-site h1 {
    font: 16px iranyekan;
    font-weight: bold;
    margin-bottom: 15px;
    color: var(--text-color);
}

footer .more-info .about-site p {
    font: 12px iranyekan;
    color: #535353;
}

footer .copy-right-footer {
    width: 100%;
    height: auto;
    float: right;
    text-align: center;
}

footer .copy-right-footer p {
    font: 12px iranyekan;
    line-height: 30px;
    color: #535353;
    margin-bottom: 0;
}

/*footer------------------------*/

button,
input,
optgroup,
select,
textarea {
    font-family: iranyekan;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.switch-box {
    float: left;
    position: absolute;
    display: inline-block;
    width: 100%;
    top: 47px;
    left: 0;
    height: 50px;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked~.toggle {
    background: #ffffff;
    left: 4px;
    transition: 0.5s;
}

input[type="checkbox"]:checked~.switch {
    background: #00bfd6;
    transition: 0.5s;
    color: #797979;
    cursor: pointer;
}


/* header slider --------------- */
.bg-img {
    background-position: center center;
    background-size: cover;
    position: relative;
    z-index: 1;
    background-color: #bebebe;
  }

  .slider {
    height: 500px;
  }



  .owl-carousel .item {
    /* background: #4DC7A0; */
  }

  /* Feel free to change duration  */
  .animated {
    -webkit-animation-duration: 1000 ms;
    animation-duration: 1000 ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  /* .owl-animated-out - only for current item */
  /* This is very important class. Use z-index if you want move Out item above In item */
  .owl-animated-out {
    z-index: 1;
  }

  /* .owl-animated-in - only for upcoming item
/* This is very important class. Use z-index if you want move In item above Out item */
  .owl-animated-in {
    z-index: 0;
  }

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translate3d(0, 100px, 0);
    }

    100% {
      opacity: 1;
      transform: none;
    }
  }

  /* .fadeOut is style taken from Animation.css and this is how it looks in owl.carousel.css:  */
  .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
  }

  @-webkit-keyframes fadeOut {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  .slider-content-title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  .slider-content-subtitle {
    font-size: 1.2rem;
    margin-bottom: 1.3rem;
    line-height: 30px;
  }
  .owl-dots .owl-dot.active {
    background: #4fb68d none repeat scroll right 0;
  }

  .owl-dots .owl-dot {
    background: #fff none repeat scroll right 0;
    border-radius: 100%;
    display: inline-block;
    height: 14px;
    margin: 0 5px;
    width: 14px;
    transition: 0.3s;
  }
  .owl-dots {
    bottom: 26px;
    right: 0;
    position: absolute;
    left: 0;
    text-align: center;
  }
  .owl-item.active.animated .slider-animated-1 .slider-content-btn {
    -webkit-animation-delay: 800ms;
    animation-delay: 800ms;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  }

  .owl-item.active.animated .slider-animated-1 p {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  }

  .owl-item.active.animated .slider-animated-1 h1 {
    -webkit-animation-delay: 1.3s;
    animation-delay: 1.3s;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  }
/* end header slider ------------ */

.select2{
    width: 200px !important;
}

/*responsive---------------------*/

@media (max-width: 1240px) {
    .header-left .login-link {
        float: right;
    }

 

    .header-right {
        margin-right: 0;
        /* margin-top: 0; */
    }

    .header-right .search-header {
        width: 100%;
        max-width: 600px;
        background: #fff;
        border: 1px solid #979797;
        height: 40px;
        margin-top: 0;
        position: relative;
        /* left: 15px; */
        border-radius: 8px;
    }

    .header-right .search-header input {
        background: #fff;
        height: 40px;
        width: 55%;
    }

    .js-example-basic-single {
        width: 35%;
    }

    .header-right .search-header .btn-search {
        /* background: #fff;
        height: 40px;
        bottom: 5px; */
        width: 50px;
    }

    /* .header-right .search-header .btn-search::before{
        content: "";
        display: block;
        height: 30px;
        background: #e0e0e2;
        position: absolute;
        right: 47px;
        width: 1px;
        top: 64%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    } */

    .header-right .logo {
        padding-bottom: 10px;
        margin-top: 0;
        width: 150px;
        display: block;
        margin:auto;
        margin-top: 0px;
    }

    .header-left .btn-login,
    .mini-cart-header {
        /* display: none; */
    }

    .responsive-header-left {
        display: block;
        position: relative;
        float: left;
        margin-top: 0;
        color: #929292;
        font-size: 35px;
        padding-left: 0;
        top: 48px;
    }

    .responsive-header-left .btn-login-responsive {
        background: #fff;
        color: #929292;
        outline: none;
        cursor: pointer;
        height: 40px;
        font-size: 30px;
        float: left;
    }

    .responsive-header-left .btn-login-responsive .cart-count {
        font-size: 11px;
        line-height: 13px;
        color: #fff;
        height: 16px;
        width: 22px;
        background-color: var(--main-bg-color);
        text-align: center;
        vertical-align: middle;
        border-radius: 50px;
        font-weight: 900;
        border: 2px solid #fff;
        position: absolute;
        bottom: 0;
        right: -8px;
    }

    .responsive-header-left .btn-login-responsive a {
        color: #424750;
    }

    .responsive-header-left .btn-login-responsive:hover .dropdown-menu-login {
        opacity: 1;
        visibility: visible;
        transition: all 0.1s ease-in;
    }

    .responsive-header-left .mini-cart-header-responsive:hover .mini-cart-dropdown {
        opacity: 1;
        visibility: visible;
        transition: all 0.1s ease-in;
    }

    .responsive-header-left .mini-cart-header-responsive {
        float: right;
        padding-left: 10px;
        cursor: pointer;
        font-size: 30px;
        height: 40px;
        color: #424750;
    }

    .responsive-header-left .question-faq {
        background: #fff;
        color: #424750;
        position: absolute;
        top: -55px;
        left: 0;
        height: 30px;
        cursor: pointer;
        outline: none;
    }

    .responsive-header-left .question-faq span {
        position: relative;
        top: -12px;
    }
}

@media (max-width: 1135px) {
    footer .footer-address .footer-contact ul li a.phone-contact::before {
        content: "";
        width: 0;
        height: 0;
    }

    footer .footer-address .footer-contact ul li.email-title {
        margin-right: 0;
    }
}

@media (max-width: 1023px) {
    .header-left .btn-login {
    }
}

@media (max-width: 767px) {
    html {
        font-size: 12px;
    }
    .slider {
        height: 300px;
      }
    .select2{
        width: 130px !important;
    }

    .header-left .btn-login {
        width: min-content;
    }

    .header-right .search-header input {
        background: #fff;
        height: 40px;
        width: 190px;
    }

    .nav-btn {
        display: block;
        margin-top: 0;
        right: 4px;
    }

    .main-menu {
        display: none !important;
    }

    .header-right {
        margin-right: 0px !important;
    }

    .header-left {
        margin-top: 30px;
        margin-bottom: 10px;
        justify-content: space-between;
    }

    .header-left .login-link {
        float: right;
    }

    .header-left .mini-cart-header {
        margin-right: 30px;
        margin-top: 10px;
    }

    .header-right .logo {
        /* border-bottom: 1px solid #ececec; */
        width: 100% !important;
        margin-top: 0px;
        max-width: 150px;
    }

    .header-right .search-header {
        /* width: 75% !important; */
        position: relative;
        /* left: 15px !important; */
        margin-top: 0 !important;
        margin-bottom: -10px !important;
    }

    .responsive-header-left {
        margin-top: -60px !important;
        margin-left: 0 !important;
    }

    .responsive-header-left {
        top: 0 !important;
    }

    .nav-btn {
        right: 3px !important;
        top: 20px;
    }

    .main-slider {
        border-radius: 18px;
        margin-bottom: 70px;
        box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.12);
    }

    .responsive-header-left .question-faq {
        position: absolute;
        top: -46px !important;
    }
}
@media (max-width: 374px) {
    .select2{
        width: 105px !important;
    }

    

    .header-right .search-header input {
        background: #fff;
        height: 40px;
        width: 130px;
    }
}
@media (max-width: 490px) {
    footer .footer-address .address-images {
        width: 100%;
        height: auto;
        float: left;
        line-height: 63px;
        display: block;
        text-align: center;
    }

    footer .footer-address {
        text-align: center;
    }

    footer .footer-address .footer-contact {
        width: 100%;
    }

    .widget-product .product-carousel .item .post-title,
    .brand-slider .product-carousel .item .post-title {
        height: 100px;
    }

    footer .footer-address .footer-contact ul li a {
        padding-left: 0;
    }

    footer .footer-address .footer-contact ul li {
        text-align: right;
    }

    .btn-cart-empty,
    .checkout-empty-inner-box,
    .swiper-products {
        display: none;
    }

    .cart-page {
        margin-bottom: 15px;
    }

    .dk-btn {
        font-size: 14px;
    }

    .dk-btn:before {
        width: 70px;
    }

    .profile-stats .table-orders,
    .order-end,
    .profile-table {
        display: none;
    }

    .profile-navbar-back-alignment {
        width: 100%;
        text-align: right;
        margin-bottom: 20px;
    }

    .profile-navbar-back-alignment h4 {
        text-align: center;
        font-size: 15px !important;
    }

    .profile-navbar .profile-navbar-back-alignment a.profile-navbar-btn-back {
        margin-left: 7px;
    }

    .profile-navbar-invoice {
        display: block;
        width: 100% !important;
    }

    .profile-navbar-btn-invoice {
        width: 100% !important;
    }

    .banner {
        height: 50px !important;
    }

    .adplacement .item-adplacement img {
        height: 100%;
    }

    .adplacement .item-adplacement {
        width: 100%;
        height: 100px;
        margin: 0 auto 15px;
    }

    .banner {
        display: none;
    }

    .carousel-indicators li {
        position: relative;
        top: 5px;
    }

    .form-legal-col .form-legal-fieldset .form-legal-item .input-number-card {
        width: 100%;
    }

    .form-legal-col .form-legal-fieldset .form-legal-item .check-btn {
        width: 100%;
        margin-top: 10px;
        margin-right: 0;
    }

    .shipment-page-container #address-section .checkout-contact .checkout-contact-location {
        width: 100%;
        margin: 10px 0;
        text-align: center;
    }

    .feedback-survey-btn {
        display: none !important;
    }

    .p-tabs .tabs-content {
        padding: 35px 10px 35px 10px;
    }
}

/* select 2 customizition */
.select2-selection__rendered {
    line-height: 39px !important;
}

.select2-selection--single,
.select2-container--default .select2-selection--single {
    height: 43px !important;
    border: none;
    font-size: 13px;
    color: var(--text-color);
}

.select2-selection__arrow {
    height: 34px !important;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: var(--main-bg-color);
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #aaa;
    outline: none;
}

.select2-results__option {
    font-size: 0.8rem;
}